<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home del corso</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>Pagina1</li>
        <li>Pagina2</li>
        <li>Pagina3</li>
        <li>Pagina4</li>
        <li>Pagina5</li>
      </ul>
    </nav>
  </header>
  <h1>Sono la view per l'action Index dell'HomeController</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus earum amet totam, ratione excepturi odio doloribus error quisquam, dignissimos sunt quam placeat! Laboriosam dolore illum saepe sequi consectetur sit!</p>
  <p>Pariatur velit magni veritatis incidunt cupiditate saepe a dicta, aut ipsum voluptatibus earum iste repudiandae dolores sunt sed magnam vel consequatur ea alias voluptatem explicabo ad quos molestias? Molestiae, possimus.</p>
  <p>Tenetur sit, debitis, eum repellat eveniet minima architecto dolore esse sapiente eaque cupiditate dignissimos ipsam facere optio accusantium voluptatum libero ut quae velit explicabo eius. Ab similique sit omnis incidunt?</p>
  <p>Ratione, doloremque veniam! Enim eveniet, illo voluptatum provident veritatis repellat adipisci, quae quo dignissimos ab, dolor quas! Asperiores vel debitis maxime ipsa eos modi, cumque corporis ullam consectetur recusandae facere.</p>
  <p>Dolor est minima veniam deleniti consectetur dicta iusto, provident nulla repudiandae qui, dolorum ea! Iusto quasi dolore, molestias sunt reiciendis pariatur similique minus, laudantium dolor, placeat saepe voluptates nihil fugit.</p>
  <footer>
    <p>Contattaci al numero...</p>
  </footer>
</body>
</html>